
body {
    font-family: 'Titillium Web', sans-serif;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

#rockphoto {
    width: 400px;

}